<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary my-2" routerLink="/recetas/form" style="float: right;">Nueva Receta</button>

        <div>
            <!-- <mat-form-field> -->
            <input matInput placeholder="buscar receta" [formControl]="autocompleteControl" [matAutocomplete]="autocomplete">

            <!-- <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarIngrediente($event)"> -->
            <mat-autocomplete #autocomplete="matAutocomplete">
                <!-- <mat-option *ngFor="let ingrediente of ingredientesFiltrados" [value]="ingrediente">
                    {{ingrediente.nombre}}
                </mat-option> -->
            </mat-autocomplete>
            <!-- </mat-form-field> -->
        </div>
        <div class="alert alert-info" *ngIf="lista?.length==0 && paginaActual==0">
            No hay ingredientes.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th></th>
                    <th>nombre</th>
                    <th>fecha</th>
                    <!-- <th></th> -->
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')"></th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receta of lista">
                    <td>
                        <img [routerLink]="['/recetas/vista', receta.id]" *ngIf="receta.fotoPortada" src="{{baseEndpoint}}/api/recetas/recetas/imagen/{{receta.fotoPortada}}" alt="{{receta.fotoPortada}}" class="img-thumbnail rounded" style="width: 64px;  height: 64px; cursor:pointer;">
                        <img [routerLink]="['/recetas/vista', receta.id]" *ngIf="!receta.fotoPortada" src="../../../assets/images/camara-de-fotos.png" alt="Sin foto" class="img-thumbnail rounded" style="width: 64px; height: 64px; cursor:pointer;">
                    </td>
                    <td>{{receta.nombre}}</td>
                    <td>{{receta.createAt | date: 'dd/MM/yyyy'}}</td>
                    <!-- <td><button class="btn btn-info btn-sm" [routerLink]="['/recetas/vista', receta.id]">
                        ver
                    </button></td> -->
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button class="btn btn-secondary btn-sm" [routerLink]="['/recetas/form', receta.id]">
                        editar
                    </button></td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button class="btn btn-danger btn-sm" (click)="eliminar(receta)">
                        eliminar
                    </button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
        </mat-paginator>
    </div>
</div>